 .custum-bacard-title {
    text-align: left !important;
}


.card-title{
  font-weight: 600;
  font-size: 20px;
  color: #666666;
  opacity: 1;
  text-transform: none;
}

.full-width {
  width: 100%
}